tools/nodered-rotor-flow.json
[
  {
    "id": "rotor_tab",
    "type": "tab",
    "label": "Rotor GS-232B",
    "disabled": false,
    "info": "Read/set the Yaesu G-800 over raw GS-232B TCP to the ERC terminal server,\nalongside PSTRotatorAz. Edit the two 'tcp request' nodes (host/port) and the\nMQTT broker config before deploying. See docs/nodered-homeassistant.md."
  },
  {
    "id": "poll_tick",
    "type": "inject",
    "z": "rotor_tab",
    "name": "poll 5s",
    "props": [{ "p": "payload" }],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 110,
    "y": 100,
    "wires": [["send_c"]]
  },
  {
    "id": "send_c",
    "type": "function",
    "z": "rotor_tab",
    "name": "send C",
    "func": "msg.payload = \"C\\r\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 270,
    "y": 100,
    "wires": [["read_tcp"]]
  },
  {
    "id": "read_tcp",
    "type": "tcp request",
    "z": "rotor_tab",
    "name": "read :4001",
    "server": "192.168.115.99",
    "port": "4001",
    "out": "time",
    "ret": "string",
    "splitc": "600",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 440,
    "y": 100,
    "wires": [["parse_az"]]
  },
  {
    "id": "parse_az",
    "type": "function",
    "z": "rotor_tab",
    "name": "parse AZ",
    "func": "const m = msg.payload.toString().match(/AZ=(\\d+)/);\nif (!m) return null;                 // no bearing this cycle, drop it\nmsg.payload = parseInt(m[1], 10);    // e.g. 269\nmsg.topic = \"rotor/azimuth/state\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 100,
    "wires": [["mqtt_state"]]
  },
  {
    "id": "mqtt_state",
    "type": "mqtt out",
    "z": "rotor_tab",
    "name": "azimuth/state",
    "topic": "rotor/azimuth/state",
    "qos": "0",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "rotor_broker",
    "x": 790,
    "y": 100,
    "wires": []
  },
  {
    "id": "mqtt_set",
    "type": "mqtt in",
    "z": "rotor_tab",
    "name": "azimuth/set",
    "topic": "rotor/azimuth/set",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "rotor_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 200,
    "wires": [["format_m"]]
  },
  {
    "id": "format_m",
    "type": "function",
    "z": "rotor_tab",
    "name": "format Mddd",
    "func": "let d = Math.round(Number(msg.payload));\nif (!(d >= 0 && d <= 359)) return null;                   // guard the range\nmsg.payload = \"M\" + String(d).padStart(3, \"0\") + \"\\r\";    // \"M270\\r\"\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 200,
    "wires": [["set_tcp"]]
  },
  {
    "id": "set_tcp",
    "type": "tcp request",
    "z": "rotor_tab",
    "name": "set :4001",
    "server": "192.168.115.99",
    "port": "4001",
    "out": "time",
    "ret": "string",
    "splitc": "200",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 490,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "rotor_broker",
    "type": "mqtt-broker",
    "name": "mqtt",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]
